.mat-row .mat-cell {
  cursor: pointer;
}

.table {
  border-collapse: separate;
  border-spacing: 0;
}

th:after,
th:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

th:after {
  bottom: -1px;
}

th.mat-header-cell, td.mat-cell {
  @apply border-r px-2;
}

.filter-col ::ng-deep .mat-form-field-wrapper {
  margin-bottom: 8px !important;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar-thumb:active {
  border-radius: 20px;
  box-shadow: inset 0 0 0 20px rgba(0, 0, 0, 0.37);
}

.dark{
  ::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.24);
  }

  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.37);
  }
}


/* Добавьте класс odd для альтернативной заливки строк */
.mat-row.odd {
  background-color: #f9f9f9 !important;
}

/* Добавьте небольшое отступление для кнопок действий */
.mat-cell .flex.flex-row.round button {
  margin-left: 5px !important;
}

.example-container {
  overflow-x: auto;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.table-header, .table-cell {
  padding: 12px 24px;
  font-weight: bold;
  text-align: left;
}

.table-header {
  background-color: #f3f3f3;
}

.odd {
  background-color: #f9f9f9;
}

.table-row:hover {
  background-color: #f1f1f1;
}





