.resume-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.resume-header h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.resume-header .email {
  color: #666;
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.resume-section ul {
  list-style-type: none;
}

.resume-section ul li {
  margin-bottom: 5px;
}
