.custom-slider {
  width: 120px !important; /* Ширина слайдера */
  margin-top: 10px; /* Отступ сверху */
  --mat-slider-thumb-size: 52px !important; /* Размер ползунка */
  --mat-slider-track-height: 34px !important; /* Высота дорожки */
}
