<div class="flex flex-col flex-auto min-w-0">
    <img src="assets/images/logo/sdu6.jpg" style="position: absolute; top: 0; bottom: 100px; left: 0; width: 100%; height: 970px; z-index: -1; filter: brightness(0.4);">


    <!-- Main -->
    <div class="flex flex-col flex-auto items-center p-6 sm:p-10">
        <div class="flex flex-col w-full max-w-4xl">
            <div class="text-center mt-2 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight border border-gray-500 text-white p-4">
                Регистрация на выборы
            </div>


            <div *ngIf="this.userRole == 'admin'">

            <!-- Form -->
            <ng-container *ngIf="isCandidate; else isAdmin">
                <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                    <form class="space-y-6">
                        <table class="w-full text-center">
                            <thead>
                            <tr>
                                <th class="px-4 py-2 text-2xl">События</th>
                                <th class="px-4 py-2 text-2xl">Даты</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="info-block">
                                <td class="info-title px-4 py-2">Начало регистрации:</td>
                                <td class="info-content px-4 py-2 text-3xl">
                                    <span *ngIf="!isEditing">{{ registrationStart }}</span>
                                    <input *ngIf="isEditing" type="date" [(ngModel)]="regStartUpdate" name="regStartUpdate" class="input-field px-4 py-2 text-3xl" />
                                </td>
                            </tr>
                            <tr class="info-block">
                                <td class="info-title px-4 py-2">Конец регистрации:</td>
                                <td class="info-content px-4 py-2 text-3xl">
                                    <span *ngIf="!isEditing">{{ registrationEnd }}</span>
                                    <input *ngIf="isEditing" type="date" [(ngModel)]="registrationEndUpdate" name="registrationEndUpdate" class="input-field px-4 py-2 text-3xl" />
                                </td>
                            </tr>
                            <tr class="info-block">
                                <td class="info-title px-4 py-2">Кандидатов допущено :</td>
                                <td class="info-content px-4 py-2 text-3xl">
                                    <span *ngIf="!isEditing">{{ persons }}</span>
                                    <input *ngIf="isEditing" [(ngModel)]="personsUpdate" (ngModelChange)="checkPersons()" name="personsUpdate" class="input-field px-4 py-2 text-3xl" type="number" pattern="[0-9]*" />
                                </td>
                            </tr>
                            <tr class="info-block">
                                <td class="info-title px-4 py-2">Начало выборов:</td>
                                <td class="info-content px-4 py-2 text-3xl">
                                    <span *ngIf="!isEditing">{{ choiceStart }}</span>
                                    <input *ngIf="isEditing" type="date" [(ngModel)]="choiceStartUpdate" name="choiceStartUpdate" class="input-field px-4 py-2 text-3xl" />
                                </td>
                            </tr>
                            <tr class="info-block">
                                <td class="info-title px-4 py-2">Конец выборов:</td>
                                <td class="info-content px-4 py-2 text-3xl">
                                    <span *ngIf="!isEditing">{{ choiceEnd }}</span>
                                    <input *ngIf="isEditing" type="date" [(ngModel)]="choiceEndUpdate" name="choiceEndUpdate" class="input-field px-4 py-2 text-3xl" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="button-group mt-8">
                            <button type="button" class="btn-delete" (click)="onDelete(eventId)">Удалить</button>
                            <button type="button" class="btn-edit" *ngIf="!isEditing" (click)="onEdit()">Изменить</button>
                            <button type="button" class="btn-save" *ngIf="isEditing" (click)="onSave(eventId)">Сохранить</button>
                            <button type="button" class="btn-cancel" *ngIf="isEditing" (click)="onCancel()">Отмена</button>
                        </div>
                    </form>


                </div>
            </ng-container>
            <ng-template #isAdmin>
                <!-- Форма для админа -->
                <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                    <form
                            class="space-y-3"
                            [formGroup]="adminRegEventForm">
                        <div class="mb-6">
                            <div class="text-2xl font-bold tracking-tight">Форма заполнения</div>
                            <div class="text-secondary">Введите все необходимые данные для создания выборов</div>
                        </div>
                        <mat-form-field class="w-120">
                            <input matInput type="date" [formControlName]="'dateRegStart'" required>
                            <mat-label>Начало регистрации Кандидатов</mat-label>
                            <mat-error *ngIf="adminRegEventForm.get('dateRegStart').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-120">
                            <input matInput type="date" [formControlName]="'dateRegEnd'" required>
                            <mat-label>Конец регистрации Кандидатов</mat-label>
                            <mat-error *ngIf="adminRegEventForm.get('dateRegEnd').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>

                        <div class="w-120">
                            <mat-label>Количество кандидатов: </mat-label>
                            <mat-slider
                                    thumbLabel
                                    class="custom-slider"
                                    [min]="1"
                                    [max]="10"
                                    [step]="1"
                                    [formControlName]="'countCandidate'"
                                    required
                            ></mat-slider>
                            <span>{{ adminRegEventForm.get('countCandidate').value }}</span>
                            <mat-error *ngIf="adminRegEventForm.get('countCandidate').hasError('required')">
                                Required
                            </mat-error>
                        </div>


                        <mat-form-field class="w-120">
                            <input matInput type="date" [formControlName]="'dateEventStart'" required>
                            <mat-label>Начало выборов</mat-label>
                            <mat-error *ngIf="adminRegEventForm.get('dateEventStart').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-120">
                            <input matInput type="date" [formControlName]="'dateEventEnd'" required>
                            <mat-label>Конец выборов</mat-label>
                            <mat-error *ngIf="adminRegEventForm.get('dateEventEnd').hasError('required')">
                                Required
                            </mat-error>
                        </mat-form-field>


                        <!-- Submit button -->
                        <button
                                class="fuse-mat-button-large w-full mt-6"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="createEvent()">
                        <span >
                            Сохранить
                        </span>
                            <mat-progress-spinner
                                    *ngIf="adminRegEventForm.disabled"
                                    [diameter]="24"
                                    [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>





                    </form>
                    <!-- Ваш код формы для не-кандидата здесь -->
                </div>
            </ng-template>
        </div>


            <div *ngIf="this.userRole == 'candidate'" class="form-container">

                <div *ngIf="!this.eventExist">
                    <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                    <h1 class="styled-header"> Нет активных мероприятий</h1>
                </div>
                </div>

                <div *ngIf="this.eventExist">
                <div class="mt-8 sm:mt-12 p-6 pb-7 sm:p-10 sm:pb-7 shadow rounded-2xl bg-card">
                    <!-- user-form.component.html -->
                    <form class="space-y-3" [formGroup]="userForm">
                        <div class="mb-6">
                            <div class="text-2xl font-bold tracking-tight">Форма заполнения</div>
                            <div class="text-secondary">Введите все необходимые данные</div>
                        </div>

                        <div class="custom-file-input mb-4">
                            <label for="photo">Фотография</label>
                            <input type="file" id="photo" formControlName="photo" required>
                            <mat-error *ngIf="userForm.get('photo').hasError('required')">Required</mat-error>
                        </div>

                        <mat-form-field class="w-120">
                            <mat-label>О себе</mat-label>
                            <textarea matInput formControlName="about" required></textarea>
                            <mat-error *ngIf="userForm.get('about').hasError('required')">Required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-120">
                            <mat-label>GPA</mat-label>
                            <input matInput type="text" formControlName="gpa" required>
                            <mat-error *ngIf="userForm.get('gpa').hasError('required') || userForm.get('gpa').hasError('pattern')">
                                Required and must be a number between 0.00 and 4.00
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-120">
                            <mat-label>Награды</mat-label>
                            <textarea matInput formControlName="awards" required></textarea>
                            <mat-error *ngIf="userForm.get('awards').hasError('required')">Required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="w-120">
                            <mat-label>Клубы</mat-label>
                            <input matInput type="text" formControlName="clubs" required>
                            <mat-error *ngIf="userForm.get('clubs').hasError('required')">Required</mat-error>
                        </mat-form-field>

                        <!-- Submit button -->
                        <button
                                class="fuse-mat-button-large w-full mt-6"
                                mat-flat-button
                                [color]="'primary'"
                                (click)="saveCandidateForm()">
                        <span >
                            Сохранить
                        </span>
                            <mat-progress-spinner
                                    *ngIf="userForm.disabled"
                                    [diameter]="24"
                                    [mode]="'indeterminate'">
                            </mat-progress-spinner>
                        </button>
                    </form>

                    <!-- Ваш код формы для не-кандидата здесь -->
                </div>

            </div>
            </div>



        </div>
    </div>
</div>
